<app-nav-bar *ngIf="exibirNavbar"></app-nav-bar>
<app-nav-aux *ngIf="!exibirNavbar"></app-nav-aux>
<ngx-spinner></ngx-spinner>
<router-outlet></router-outlet>
<!-- <app-painel-cadastro-produto></app-painel-cadastro-produto> -->

<p-toast position="bottom-center" key="toast"></p-toast>

<p-confirmDialog #cd header="Confirmar" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>