.menulogado {
    /*  position: relative !important; */
     position: relative !important;       
     
 }
/*  p-dropdown{
    background-color: red; 
    border: none;
    border-bottom: 2px solid #28a745;        
    border-radius: 0px; 
 } */
