    

  <!-- produtos -->
  <section class="service py-lg-4 py-md-4 py-sm-3 py-3" id="produtos">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <h1 class="teste text-center mt-5 mb-5"><strong>Produtos disponiveis</strong></h1>
      <!-- grid-produtos-->
      <!-- <app-painel-produto></app-painel-produto> -->
      
      <router-outlet></router-outlet>
    </div>
  </section> 
  
    <section>
      <footer class="bottem-wthree-footer text-center py-md-4 py-3">
        <a href="#home" class="move-top text-center mt-3">
          <span class="fa fa-arrow-up" aria-hidden="true"></span>
        </a>
        <p>
          © 2020 Comunidade Orgânica. Todos os direitos reservados. | Grupo 1 PI - T03VE
        </p>
      </footer>
    </section>